<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="form-group">
      <label>Add a temperature</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input type="number" class="form-control" name="temperature" [(ngModel)]="temperature">
          <span class="input-group-addon celcius">°C</span>
        </div>
      </div>
      <button class="btn btn btn-success add-temperature" (click)="addTemperature()">Add</button>
    </form>
  </div>
</div>