label {
    font-size: 1.5em;
}

input[type=number] {
    background-color: #E8F3F7;
    height: 45px;
}

.celcius {
    background-color: #7AB7E6 !important;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.add-temperature {
    height: 45px;
    width: 80px;
}