<div class="form-group pull-right">
    <div class="input-group">
        <input type="text" class="form-control" value="Average">
        <span id="sAverage" class="input-group-addon celcius"></span>
    </div>
</div>
<div class="form-group pull-right">  
    <div class="input-group">
        <input type="text" class="form-control" value="Median">
        <span id="sMedian" class="input-group-addon celcius"></span>
    </div>
</div>
<div class="form-group pull-right">
    <div class="input-group">
        <input type="text" class="form-control" value="Min">
        <span id="sMin" class="input-group-addon celcius"></span>
    </div>
</div>
<div class="form-group pull-right">
    <div class="input-group">
        <input type="text" class="form-control" value="Max">
        <span id="sMax" class="input-group-addon celcius"></span>
    </div>
</div>